@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,100);

*{
  box-sizing: border-box;
}

body{
  background-image: url('stardust1.png');
  font-family: 'Roboto', sans-serif;
}

a, a:visited{
  color: #d3e1e4;
  text-decoration: none;
}

header{
  margin-top: -0.7em;
  height: 200px;
  width: 100%;
  text-align: center;
  z-index:-1;
}

nav{
  border: solid 2px rgba(0, 0, 0, 0);
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  position: relative;
  color: #4ee7bb;
  margin-top: 85px;
  font-size: 20px;
  opacity: 0.8;
  font-weight: 400;
}

.nav-bar{
  margin-top: 48px;
  margin-right: 254px;
}

.logo{
  float: left;
  text-transform: lowercase;
  font-size: 110px;
  opacity: 0.7;
  font-weight: 900;
  letter-spacing: -20px;
  margin-top: -35px;
}

.logo#d{
  color: #d3e1e4;
}

.outer_circle{
  width: 240px;
  height: 240px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
	-moz-border-radius: 150px;
  z-index: -1;
  background-color: rgba(78, 231, 187, .5);
  position: relative;
  float: left;
}

blockquote{
  color: #d3e1e4;
  font-weight: 100;
  font-size: 25px;
}

.about_me_paragraph{
  width: 51%;
  margin-left: 267px;
}

#work{
  position: relative;
}

#lebron{
  position: relative;
  background: none;
  overflow: hidden;
}

#lebron:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.2;
  background-image: url('/public/lebron.png');
  background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

#lebron:hover:before{
  opacity: 1;
}

#myhomepage{
  position: relative;
  background: none;
  overflow: hidden;
}

#myhomepage:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.2;
  background-image: url('/public/myhomepage.png');
  background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

#myhomepage:hover:before{
  opacity: 1;
}

.project{
  box-shadow: 0 0 8px rgba(250, 250, 250, .4);
  background-color: rgba(250, 250, 250, .4);
  border-radius: 3px;
  width: 36%;
  height: 225px;
  overflow: hidden;
  position: relative;
  margin: 30px;
  margin-left: 16px;
  float: left;
}

.project p{
  color: white;
  text-align: center;
  font-weight: 100;
  font-size: 50px;
  margin-top: 18%;
}

.project:hover p{
  visibility: hidden;
}

.project a{
  position: absolute;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.clear{
  clear: both;
  color: #f4e9c7;
  font-size: 20px;
  padding: 15px;
  font-weight: 100;
}

#about{
  margin-left: 63px;
  margin-top: -23px;
}

.circle_logo{
  width: 220px;
  height: 220px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background-image: url('/public/Untitled-1.jpg');
  background-repeat: no-repeat;
  box-shadow: 0 0 8px rgba(250, 250, 250, .8);
  -webkit-box-shadow: 0 0 8px rgba(250, 250, 250, .8);
  -moz-box-shadow: 0 0 8px rgba(250, 250, 250, .8);
  z-index: 0;
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  z-index: -1;
}

.nav-bar li{
  list-style-type: none;
  display: inline;
  padding-left: 40px;
  color: #d3e1e4;
}

li:hover{
  cursor: pointer;
}

#contact_form{
  line-height: 3em;
  margin-top: -15px;
}

#area{
  width: 250px;
  height: 200px;
  margin-top: 11px;
  word-wrap: break-word;
}

.input{
  width: 250px;
}

.submit{
  background: none;
  border: solid 3px #4ee7bb;
  color: #4ee7bb;
  width: 92px;
  height: 37px;
  margin-top: 17px;
}

.contact{
  color: #d3e1e4;
  font-weight: 400;
  font-size: 45px;
  opacity: 0.8;
  margin-top: -28px;
}

textarea:focus, input:focus{
  outline-color: #4ee7bb;
}

input{
  background-color: white;
  border: 2px solid #4ee7bb;
  border-radius: 3px;
}

.available{
  line-height: 0.1;
  color: #f4e9c7;
  margin-top: -10px;
  opacity: 0.8;
  font-size: 20px;
  letter-spacing: 1px;
}

.page{
  height:400px;
  width:85%;
  display: none;
  margin: 0 auto;
  margin-left: 81px;
  margin-top: -42px;
}

.page.active{
  display:block;
}

#home{
  padding: 10px;
  text-align: left;
  line-height: 0.25;
  margin-top: -50px;
  letter-spacing: 2px;
  position: relative;
  z-index: -1;
}

.skill{
  line-height: 0.4;
  padding: 10px;
}

#skills{
  margin-top: -69px;
  margin-left: 81px;
}

#skills h1{
  color: #4ee7bb;
  opacity: 0.6;
  font-size: 43px;
  letter-spacing: 6px;
}

#skills p{
  display: inline;
  font-size: 20px;
  color: #d3e1e4;
  letter-spacing: 2px;
  font-weight: 100;
}

.skill{
  padding-bottom: 12px;
}

.name{
  font-weight: 900;
  font-size: 88px;
  color:#4ee7bb;
  opacity: 0.7;
  letter-spacing: 8px;
  margin-top: 50px;
}

.surname{
  font-weight: 900;
  font-size: 88px;
  color:#d3e1e4;
  opacity: 0.7;
  letter-spacing: 18px;
}

.what{
  font-size: 35px;
  color: #d3e1e4;
  font-weight:100;
}

.where{
  font-size: 35px;
  color: #f4e9c7;
  font-weight:100;
}

.error{
  width: 25%;
  height: 45px;
  visibility: hidden;
  color: red;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  margin-top: -55px;
  padding: 3px;
}

.social{
  position: absolute;
  margin-top: 85px;
  margin-left: -50px;
  font-size: 30px;
}

.fa.fa-bars.fa-2x{
  display: none;
  cursor: pointer;
}

.dropdown{
  width: 460px;
  height: 171px;
  background-color: #E8E8E8;
  z-index: 1;
  margin-top: -5.7em;
  margin-left: 54px;
  border-radius: 3px;
  position: absolute;
  text-align: center;
  font-size: 22px;
  display: none;
}

.row{
  border-bottom: 1px solid #333;
  width: auto;
  margin-left: -40px;
}




.dropdown-nav{
  line-height: 1.55;
  list-style-type: none;
  margin-top: -1px;
}

.dropdown-nav li:hover{
  background-color: rgba(78, 231, 187, 0.5);
  color: white;
}

.show {display:block;}

.social ul {
  list-style-type: none;
  display: inline-flex;
  margin-left: -8px;
}

.social li {
  padding: 0.8em;
}

/***************************
****************************
MEDIA QUERIES
****************************
***************************/

@media screen and (max-width: 1130px) {
  .nav-bar{
    margin-right: 189px;
    margin-top: 48px;
  }
}

@media screen and (max-width: 995px) {
  .nav-bar{
    margin-right: 93px;
    margin-top: 48px;
  }

  .what, .where, .name { margin-left: -10px; }

  #contact p{
    font-size: 19px;
    letter-spacing: 0px;
  }

  #home{margin-left:69px;}
}

@media screen and (max-width: 881px) {
  .nav-bar{
    margin-right: 5px;
    margin-top: 48px;
  }

  .name{
    font-size: 85px;
    letter-spacing: 4px;
    margin-left: -17px;
  }

  .what, .where{
    margin-left: -17px;
  }

  .social{ margin-left:-68px;}

  #home{ margin-left:76px;}

}

@media screen and (max-width: 810px) {
  .name{
    letter-spacing: 2px;
    margin-left: -26px;
  }

  .surname{
    letter-spacing: 14px;
    font-size: 85px;
  }
  .what, .where{ margin-left: -26px;}

  #skills{
    margin-left: 54px;
  }

  #skills h1{
    font-size: 39px;
    letter-spacing: 4px;
  }

  #skills p{
    font-size: 20px;
    letter-spacing: 0px;
  }

  #about{ margin-top:-45px;}

  .about_me_paragraph{
    width:80%;
    clear:both;
    margin-left:67px;
    padding-top: 4px;
  }

  .outer_circle{
    margin-left:197px;
  }

}


@media screen and (max-width: 754px) {
  .nav-bar{
    font-size: 18px;
    letter-spacing: -1px;
    margin-right: -50px;
    margin-top: 50px;
  }

  .name, .surname{
    font-size: 70px;
  }

  .what, .where{
    font-size: 30px;
  }

  #contact{
    margin-left: 62px;
  }

  #contact p{
    font-size: 15px;
  }

}

@media screen and (max-width: 667px) {
  .nav-bar{ display: none; }

  .fa.fa-bars.fa-2x{
    display: block;
    margin-top: 37px;
    position: relative;
    margin-right: -259px;
  }

  .name, .surname{
    font-size: 65px;
  }

  .surname{
    letter-spacing: 11px;
  }

  .what, .where{
    font-size: 28px;
    letter-spacing: 1px;
  }

  #home{
    margin-left: 62px;
  }

  .logo{
    font-size: 100px;
    margin-top: -24px;
  }

  .social ul{
    margin-left: -11px;
    font-size: 24px;
  }

  #skills{ margin-left:43px;}

  #skills h1{
    font-size: 34px;
    letter-spacing: 3px;
  }

  #skills p{
    font-size: 17px;
    letter-spacing: 0px;
  }

  .outer_circle{
    margin-left: 60px;
  }

  .about_me_paragraph{
    margin-left: -4px;
  }
}

@media screen and (max-width: 575px) {
  .name, .surname{
    font-size: 55px;
  }

  .surname{
    letter-spacing: 7px;
  }

  .what, .where{
    font-size: 24px;
    letter-spacing: 0px;
  }

  #home{
    margin-left: 62px;
  }

  .dropdown.show{
    font-size: 18px;
    height: 125px;
    margin-top: -123px;
  }

  #skills{ margin-left: 32px;}

  #skills h1{
    font-size: 25px;
  }

  #skills p{
    font-size:14px;
  }

  #contact{margin-left: 50px;}

  #contact p{
    font-size:13px;
  }

  .dropdown.show{
    font-size: 18px;
    height: 139px;
    margin-top: -123px;
    width: 400px;
  }

}

@media screen and (max-width: 464px) {
  .name, .surname{
    font-size: 45px;
  }

  .surname{
    letter-spacing: 3px;
  }

  .what, .where{
    font-size: 20px;
    letter-spacing: 0px;
  }

  .logo{
    font-size: 87px;
    margin-top: -12px;
  }

  .dropdown.show{
    font-size: 16px;
    height: 110px;
    margin-left: 42px;
    width: 300px;
  }

  #home{
    margin-left: 55px;
  }

  #skills{ margin-left: 27px;}

  #skills h1{ font-size: 23px;}

  #skills p{font-size:13px;}

  .outer_circle{ margin-left: 16px;}

  .dropdown.show{
    font-size: 16px;
    height: 123px;
    margin-left: 42px;
    width: 336px;
  }

  .fa.fa-bars.fa-2x{
    margin-right: -160px;
  }

  /*Samsung Galaxy S5, LG Nexus 5, HTC One*/
  @media screen and (max-width: 360px){
    .name, .surname{
      font-size: 45px;
    }
    .what, .where{
      font-size: 18px;
      line-height: 1;
    }
    #home{
      margin-left:47px;
      margin-top: -25px;
    }
    .social{
      margin-top:120px;
    }
    .dropdown.show{
      margin-left: 33px;
      width: 306px;
    }
    #skills{
      margin-left:21px;
    }
    #skills h1{
      font-size: 26px;
    }
    #skills p{
      font-size: 17px;
      line-height: 1.5;
    }
    #about{
      margin-left: 36px;
    }
    .about_me_paragraph{
      width: 114%;
    }
    blockquote{
      font-size: 15px;
      margin-left: 11px;
      line-height: 1.5;
    }
    #about{
      margin-left: 33px;
    }
    #contact{
      margin-left: 31px;
      margin-top: -86px;
    }
    #contact p{
      display: none;
    }
    .project{
      width: 180px;
      height: 180px;
      margin-left: 0px;
    }
    .clear{
      font-size: 16px;
      margin-left: -90px;
    }
    .fa.fa-bars.fa-2x {
      margin-right: -227px;
    }
  }

  /*Older iPhones and Galaxy Devices (3, 4, 5)*/
  @media screen and (max-width: 320px){
    #skills{
      margin-left: 17px;
    }
    #skills p{
      letter-spacing: 1px;
      line-height: 1.5;
    }
    #skills h1{
      font-size: 22px;
    }
    .social{
      margin-top: 78px;
    }
    .name, .surname{
      margin-top: 22px;
      font-size: 39px;
    }
    .what, .where{
      font-size: 16px;
    }
    .fa.fa-bars.fa-2x {
      margin-right: -200px;
    }
    .outer_circle{
      height: 215px;
      width: 215px;
    }
    .circle_logo{
      width: 195px;
      height: 195px;
    }
    #about{
      margin-top: -48px;
      margin-left: 36px;
    }
    #contact{
      margin-top: -109px;
    }
    #contact p{
      display: none;
    }
    .project{
      width: 180px;
      height: 180px;
      margin-left: -12px;
    }
    .clear{
      font-size: 16px;
      margin-left: -90px;
    }
    .dropdown.show {
      margin-left: 28px;
      width: 279px;
  }
}
