@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Cardo:400,700);

*{
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

a, a:visited{
  text-decoration: none;
  color: #4ee7bb;
}

input{
  line-height: normal;
  border-radius: 4px;
  border: 0;
  height: 40px;
  width: 100%;
  margin: 10px auto;
  padding: .4em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type='textarea']{
  height: 80px;
}

clearfix:before,
clearifx:after{
  content: ' ';
  display: table;
}

clearfix:after{
  clear: both;
}

#up-top, small{
  position: fixed;
  right: 0;
  padding: .5em;
  z-index: 2;
  margin-top: 100px;
  margin-right: 2px;
}

#up-top{
  margin-right: -4px;
}

small{
  margin-top: 150px;
  color: #7ee4bb;
  font-size: 11px;
}

input:focus{
  outline: none;
  border: 1px solid #4ee7bb;
  box-shadow: 0 0 5px #4ee7bb;
}

.submit{
  width: 100%;
  height: 50px;
  background: none;
  border: 2px solid #7ee4bb;
  color: #7ee4bb;
  margin-top: 1.5em;
}

.submit:hover{
  background: #4ee7bb;
  color: white;
}

.error{
  color: #ED7979;
}

#main-nav{
  padding: 1.5em 3%;
  max-width: 1500px;
  height: 500px;
  border-bottom: 1px solid #e9e9e9;
  background: url('LB4.jpeg') center center no-repeat;
  background-size: cover;
  text-transform: uppercase;
}

#main-nav:before{
  content: '';
  position: absolute;
  height: 600px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right,#232526,#414345);
  opacity: .99;
}

.logo{
  width: 70px;
  height: 70px;
  border: 4px solid #4ee7bb;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: relative;
  float: left;
  -webkit-transition: background-color 0.8s ease;
  transition: background-color 0.8s ease;
}

.logo:hover{
  background-color: #4ee7bb;
}

.logo:hover a{
  color: white;
}

.inner-logo{
  font-weight: bold;
  font-size: 1.2em;
  line-height: .4em;
  text-align: center;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: absolute;
  top: 26px;
  left: 7px;
}

.inner-logo a{
  font-weight: 700;
  font-size: 35px;
  cursor:default;
}

#main-nav > .nav-bar{
  float: right;
  position: relative;
  width: 50%;
  height: 50px;
  padding: 2.35em 1%;
  margin: auto;
  margin-right: -11.5em;
  margin-top: -3px;
}

.nav-bar a{
  margin: 0 1.7rem auto;
  font-size: 18px;
  transition: color 0.9s ease;
  transition: border-bottom 0.1s ease;
  -webkit-transition: color 0.9s ease;
  -webkit-transition: border-bottom 0.1s ease;
}

.nav-bar a:hover{
  border-bottom: 4px solid #4ee7bb;
  color: #e9e9e9;
}

#burger{
  display: none;
}

.drop-down{
  display: none;
  position: absolute;
  color: #333;
  width: 242px;
  height: 190px;
  padding: 12px 16px;
  z-index: 3;
  margin-top: 59px;
  margin-left: 489px;
  right: 19px;
}

.nav-responsive{
  display: block;
  background: #e9e9e9;
  width: 223px;
  border-radius: 2px;
  display: block;
  padding: 0;
  height: 33%;
  position: relative;
  font-size: 24px;
  border: 1px solid #333;
  padding-left: 7px;
  padding-top: 12px;
  box-shadow: 0px 3px 16px 0px rgba(250,250,250,0.2);
  transition: all 0.2s ease-in-out;
  z-index: 3;
}

.nav-responsive a{
  color: #333;
}

.nav-responsive:hover{
  background: #7ee4bb;
}

.nav-responsive a:hover{
  color: white;
}

.intro{
  position: relative;
  width: 99%;
  height: 250px;
  margin: 0 auto;
  margin-top: 12.75em;
  text-align: center;
}

.intro h2{
  font-size: 54px;
  letter-spacing: 7px;
  color: #f2f2f2;
  padding-bottom: .5em;
}

.intro p{
  margin-top: -.5rem;
  font-family: 'Cardo', serif;
  text-transform: none;
  color: #4ee7bb;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 2px;
}

#about{
  height: 765px;
  background: #c9c9c9;
  font-family: 'Cardo', serif;
  text-align: center;
  padding: 9em 15%;
  margin-top: 2rem;
}

#about p{
  font-size: 18px;
}

#about p:first-of-type{
  padding-top: 1em;
}

.my-picture{
  height: 170px;
  width: 170px;
  border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url('Untitled-1.jpg') no-repeat;
  margin: 0 auto;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

#skills{
  height: 620px;
  background: white;
  position: relative;
  width: 100%;
  margin-top: 6.5em;
}

#skills h2{
  color: #4ee7bb;
  font-size: 28px;
  margin-top: 2em;
  text-transform: uppercase;
}

#skills h2, .skills-desc{
  text-align: center;
}

#skills hr{
  width: 20%;
}

.skills-desc{
  padding-bottom: 2em;
}

.skills-wrapper{
  width: 99%;
  position: relative;
  padding: 5em 5%;
  margin-left: 80px;
}

.skills-wrapper h3{
  color: #4ee7bb;
  font-size: 22px;
}

.col-1, .col-2, .col-3{
  float: left;
  width: 33%;
}

.col-3{
  margin-left: .5em;
}

#contact{
  height: 580px;
  background: linear-gradient(to bottom right, #232526, #414345);
}

#contact_form{
  width: 75%;
  margin: 5px auto;
}

.contact-wrapper{
  height:350px;
  width:75%;
  margin: 2px auto;
}

.contact-wrapper h2{
  color: #4ee7bb;
  font-weight: 400;
  text-align: center;
  padding: 2.75em;
}

#footer{
  width: 100%;
  max-width: 1500px;
  height: 240px;
  background: #262626;
  text-align: center;
  padding-top: 2em;
}

#footer p{
  text-align: center;
  color: #e9e9e9;
  padding-top: 1.5em;
}

#footer a{
  color: rgba(78, 231, 187, 0.5);
  transition: all 0.3s ease-in-out;
  margin: 35px;
}

#footer a:hover{
  color: #4ee7bb;
}

/****Media Queries****/
@media (max-width: 1120px){
  #main-nav > .nav-bar{
    margin-right: -9em;
  }
}

@media (max-width: 1030px){
  #main-nav > .nav-bar{
    margin-right: -6em;
  }
  .col-1, .col-2, .col-3{
    width: 31%;
  }
}

@media (max-width: 935px){
  #main-nav > .nav-bar{
    margin-right: -3.5em;
  }
  .col-1, .col-2, .col-3{
    margin-left: -8px;
  }
}

@media (max-width: 870px){
  #main-nav > .nav-bar{
    margin-right: -1.5em;
    width: 54%;
  }
  .nav-bar a{
    font-size: 17px;
  }
}

@media (max-width: 776px){
  .nav-bar{
    display: none;
  }
  #burger{
    display: block;
    color: #4ee7bb;
    position: relative;
    float: right;
    margin: 3px;
    border: 1px solid;
    padding: 9px;
    padding-left: 12px;
    padding-right: 12px;
    transition: all 0.3s ease-in-out;
  }
  #burger:hover{
    cursor: pointer;
    background: #4ee7bb;
    color: white;
    border: 1px solid #4ee7bb;
  }
  .my-picture{
    height: 158px;
    width: 158px;
  }
  #about{
    height: 800px;
  }
  .skills-wrapper{
    width: 104%;
    margin-left: 46px;
  }
}

@media (max-width: 660px){
  #about{
    height: 850px;
  }
  .skills-wrapper {
    width: 108%;
    margin-left: 27px;
  }
  .col-2{
    margin-left: -20px;
  }
}

@media (max-width: 520px){
  #about{
    height: 970px;
  }
  #skills{
    height: 1000px;
  }
  .drop-down{
    right: 15px;
  }
  .col-1, .col-2, .col-3{
    float: none;
    margin-left: 0;
  }
  .skills-wrapper{
    width: 100%;
    margin: 0 auto;
    margin-top: -75px;
    text-align: center;
    left: 30%;
  }
  .skills-wrapper h3{
    font-size: 27px;
  }
  .col-2 h3{
    margin-left: -8px;
  }
}

@media (max-width: 454px){
  #about{
    height: 970px;
  }
  .drop-down{
    right: 13px;
  }
}

@media (max-width: 415px){
  #about{
    height: 1050px;
  }
  .col-2 h3{
    margin-left: -20px;
  }
}

/*iPhone 6*/
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px){
  #about{
    height: 1100px;
  }
  .col-2 h3 {
    margin-left: -29px;
  }
  input{
    width: 150%;
    margin-left: -52px;
  }
  .submit{
    width: 150%;
  }
  .drop-down{
    right: 10px;
  }
}

/*iPhone 5*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px){
  .logo{
    margin-left: 8px;
  }
  .drop-down{
    right: 9px;
  }
  #about p{
    font-size: 16px;
  }
  .col-2 h3 {
    margin-left: -33px;
  }
  #skills{
    height: 1040px;
  }
  input{
    width: 161%;
    margin-left: -52px;
  }
  .submit{
    width: 161%;
  }
  #contact{
    height: 610px;
  }
  #footer{
    height: 275px;
  }
  #footer a{
    margin: 23px;
  }
}
